{% extends "layoutlog.html" %}
{% block content %}

        <form method="post" action="/addclients">
           
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Agregar Cliente</legend>
                <div class="form-group">
                    <div class="navbar-nav">
                    <label for="inputname" class="form-control-label">Nombre</label>
                    <input type="name" name="inputname" id="inputname" class="form-control" placeholder="Nombre" require/>
                

                    <label for="inputemail" class="form-control-label">Correo Electrónico</label>
		            <input type="email" name="inputemail" id="inputemail" class="form-control" placeholder="Email" require/>
                    </div>      
                </div>
                <div class="form-group">
                    <label for="inputpassword" class="form-control-label">Contraseña</label>
           	        <input type="name" name="inputpassword" id="inputpassword" class="form-control" placeholder="Contraseña" require/>
                    <label for="inputconfirm" class="form-control-label">Confirmar Contraseña</label>
           	        <input type="name" name="inputconfirm" id="inputconfirm" class="form-control" placeholder="Repetir Contraseña" require/>
                </div>
                
                <div class="form-group">
                    <label for="inputpassword" class="form-control-label">Domicilio</label>
           	        <input type="name" name="inputaddres" id="inputaddres" class="form-control" placeholder="Domicilio" require/>
                    <label for="inpuystate" class="form-control-label">Estado</label>
           	        <input type="name" name="inputstate" id="inputstate" class="form-control" placeholder="Estado" require/>
                    <label for="inputcity" class="form-control-label">Ciudad</label>
           	        <input type="city" name="inputcity" id="inputcity" class="form-control" placeholder="Ciudad" require/>
                </div>
                <div class="form-group">
                    <label for="inputpassword" class="form-control-label">RFC</label>
           	        <input type="name" name="inputrfc" id="inputrfc" class="form-control" placeholder="RFC" require/>
                    <label for="inputpago" class="form-control-label">Medio de Pago</label>
                    <select class="form-control col-md-6 col-lg-6 input-lg" id="inputpago" name="inputpago">
                        {% for pay in pago %}
                        <option value="{{pay}}">{{pay}} </option>
                        {% endfor %}
                    </select>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Servicios Contratados</legend>
                
                <div class="form-group">
                    <label for="inputserv1" class="form-control-label">Servicio 1</label>
                    <select class="form-control col-md-6 col-lg-6 input-lg" id="inputserv1" name="inputserv1">
                        {% for ser in servs %}
                        <option value="{{ser}}">{{ser}} </option>
                        {% endfor %}
                    </select>
                    <label for="inputserv2" class="form-control-label">Servicio 2</label>
                    <select class="form-control col-md-6 col-lg-6 input-lg" id="inputserv2" name="inputserv2">
                        {% for ser in servs %}
                        <option value="{{ser}}">{{ser}} </option>
                        {% endfor %}
                    </select>
                    <label for="inputserv3" class="form-control-label">Servicio 2</label>
                    <select class="form-control col-md-6 col-lg-6 input-lg" id="inputserv3" name="inputserv3">
                        {% for ser in servs %}
                        <option value="{{ser}}">{{ser}} </option>
                        {% endfor %}
                    </select>
                </div>
                

            </fieldset>
            <div class="form-group">
		<button  class="btn btn-lg btn-primary btn-block" type="submit"  >Agregar cliente</button>
            </div>
            
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
             <a class="ml-2" href="{{ url_for('about') }}">¿Necesitas Ayuda?</a>
        </small>
    </div>
    
{% endblock content %}
