{% extends "layoutlogin.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
		{% for message in messages %}
			<h3> {{ message }} </h3>
		{% endfor %}
	{% endif %}
{% endwith %}
    {% for post in posts %}

    <div class="w3-content w3-display-container" style="max-width:800px">
      <img class="mySlides" src="/static/image/img1.jpg" style="width:100%">
      <img class="mySlides" src="/static/image/img2.jpg" style="width:100%">
      <img class="mySlides" src="/static/image/img3.jpg" style="width:100%">
      <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
        <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
        <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
        <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
      </div>
    </div>


        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
