{% extends "layoutlog.html" %}
{% block content %}
    <div class="content-section">
        <form method="post" action="/login">
           
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Iniciar Sesión</legend>
                <div class="form-group">
                    <label for="inputemail" class="form-control-label">Correo Electrónico</label>
		    <input type="email" name="inputemail" id="inputemail" class="form-control" placeholder="Email" required autofocus>
                        
                </div>
                <div class="form-group">
                    <label for="inputpassword" class="sr-only">Contraseña</label>
           	    <input type="password" name="inputpassword" id="inputpassword" class="form-control" placeholder="Contraseña" require/>
                </div>
            </fieldset>
            <div class="form-group">
		<button  class="btn btn-lg btn-primary btn-block" type="submit"  >Iniciar Sesión</button>
            </div>
            <small class="text-muted ml-2">
                <a href="/#">¿Olvidaste tu contraseña?</a>
            </small>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
             <a class="ml-2" href="{{ url_for('about') }}">¿Necesitas una cuenta?</a>
        </small>
    </div>
    
{% endblock content %}
