{% extends "layoutlogin.html" %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
		{% for message in messages %}
			<h3> {{ message }} </h3>
		{% endfor %}
	{% endif %}
{% endwith %}
    
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ perfil_dict.user }}</a>
              <small class="text-muted">{{ perfil_dict.date_perfil_dicted }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ perfil_dict.title }}</a></h2>
            <p class="article-content">{{ perfil_dict.content }}</p>
          </div>
        </article>
    
{% endblock content %}

{% block  %}
    
    	{% if dict_serv.serv1 == 1 %}
		    <article class="media content-section">
		      <div class="media-body">
		        <div class="article-metadata">
		          <a class="mr-2" href="#">{{ dict_serv.user }}</a>
		          <small class="text-muted">Fecha de último ingreso a este servicio {{ dict_serv.date }}</small>
		        </div>
		        <h2><a class="article-title" href="#">{{ dict_serv.title }}</a></h2>
		        <p class="article-content">{{ dict_serv.content }}</p>
		      </div>
		    </article>
		{% endif %}
		{% if dict_serv.serv2 == 1 %}
		    <article class="media content-section">
		      <div class="media-body">
		        <div class="article-metadata">
		          <a class="mr-2" href="#">{{ dict_serv.user }}</a>
		          <small class="text-muted">Fecha de último ingreso a este servicio {{ dict_serv.date }}</small>
		        </div>
		        <h2><a class="article-title" href="#">{{ dict_serv.title }}</a></h2>
		        <p class="article-content">{{ dict_serv.content }}</p>
		      </div>
		    </article>
		{% endif %}
    
{% endblock  %}





















